<!DOCTYPE html>
<html ng-app="myapp">

<head>
    <title>Hello Angular!</title>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="module2.js"></script>
    <script src="module3.js"></script>
    <script src="controllers1.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body >
   
<div ng-controller="personCtrl">
  
<table style="align-self: center">
        <tr>
          <td>name : </td>
          <td>
                <input type="text" name="personName" ng-model="person.name" required> 
          </td>
          <td>{{person.name}}</td>

        </tr>
        <tr>
          <td>email : </td>
          <td>
                <input type="text" name="email" ng-model="person.email" required> 
          </td>
          <td>{{person.email}}</td>

        </tr>
        <tr>
          <td>age : </td>
          <td>
                <input type="text" name="personAge" ng-model="person.age" required>
          </td>
          <td>{{person.age}}</td>

        </tr>
        
      </table>

       
        <P ng-class = "getClass()">verifiction</P>

        <div ng-controller="HelloCtrl2 as hello">

          {{hello.message}}
        </div>
        <div ng-controller="HelloCtrl3 as hello">

          {{hello.message}}
        </div>
</div>
</body>

</html>